<style media="screen">
  .tab-view{
    padding:1%;
  }

</style>
<style media="screen">
.masthead.segment {
  min-height: auto;
  padding: 1em 0em;
}
</style>
<div class="ui container">
  <div class="ui divider">

  </div>
  <div class="ui doubling four column grid">
    <div class="column">
      <h2 class="ui icon header">
        <i class="circular user icon"></i>
        个人中心<span id="editUserInfo" style="font-size:12px" class="ui mini button">修改资料</span>
        <div style="font-size:15px">账户余额：<%= @balance.amount %></div>
        <div class="ui mini red basic button">
          提现
        </div>
      </h2>
    </div>
    <div class="column">
      <br>  <br>
      <p>手机：<%= @user.mobile %></p>
      <p>邮箱：<%= @user.email %></p>
      <p>用户名：<%= @user.username %>
        <!-- &nbsp;&nbsp; -->
        <!-- <span class="ui basic red tiny button">设置／修改密码</span> -->
      </p>
      <p>我的签名：<%= @user.personal_title %></p>



    </div>
    <div class="column">
      <br>  <br>
      <p style="word-break:break-all;">编号：<%= @user.id %></p>
      <p>手机：<%= @user.mobile %></p>
      <p>昵称：<%= @user.fake_name %></p>


      <p>真实姓名：<%= @user.real_name %></p>
    </div>
    <div class="column">  <br>  <br>
      <p>邮箱：<%= @user.email %></p>
        <p>最近资料更新于：<%= @user.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
      <p>注册于：<%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
  </div>


  <div class="ui divider">

  </div>
  <div class="ui">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first">我的收支</a>
      <a class="item" data-tab="second">我的订单</a>

    </div>
    <div class="ui bottom attached active tab tab-view" data-tab="first">
      <% if @bills.length > 0 %>
      <% else %>
      <div class="ui container">
        <br>
          <h3>哦，您还没有流水呢～</h3>
          <h4>——请接着<a href="/products">分享</a>赚钱</h4>
          <h4>——或者，在有余额的情况下，<a href="/products">提现</a></h4>
          <br><br><br>
      </div>
      <div class="">

      </div>
      <% end %>
    </div>
    <div class="ui bottom attached tab tab-view" data-tab="second">
      <div class="ui vertically divided grid">



      <% if @orders.length > 0 %>

        <% @orders.each do |order| %>
        <div class="doubling six column row">
          <div class="column" style="word-break:break-all;">
            编号：<%= order.id %>
          </div>

          <div class="column"  style="word-break:break-all;">
            商品：
            <ul>
              <% order.order_products.each do |order_product| %>
                <li><a href="/products/<%= order_product.product.id %>">
                <%= order_product.product.product_model_type %></a>　&times;
                 <%= order_product.counter %></li>
              <% end %>
            </ul>

          </div>
          <div class="column">
              下单时间：<%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
          <div class="column">
              状态：<%= order.status %>
              <% if order.status == "正在进行中" %>
                ——请耐心等待我们与您联系
              <% end %>
          </div>
          <div class="column">
              状态更新：<%= order.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </div>
        </div>
        <% end %>
          </div>
      <% else %>
      <div class="ui container">
        <br>
          <h3>哦，您还没有下单呢～</h3>
          <h4>——请接着<a href="/products">随意逛逛</a></h4>
          <br><br><br>
      </div>
      <div class="">

      </div></div>
      <% end %>
    </div>

  </div>
</div>
<div class="ui container">
  <div class="ui modal" id="editUserModal">
    <div class="header">
      修改个人资料
    </div>
    <div class="content">
    <% personal = User.find(@user.id) %>
    <% form_tag url('personal/update'), id: 'userInfoForm', method: "post", class: "ui form" do %>
      <div class="ui container">
        <div class="ui header">
          <br/>
          <div class="field">
            <label for="mobile">编号:</label>
            <input disabled="disabled" type="text" id="valid_mobile" name="" value="<%= @user.id %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">手机:</label>
            <input disabled="disabled" type="text" id="valid_mobile" name="" value="<%= @user.mobile %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">邮箱:</label>
            <input type="text" id="valid_mobile" name="email" value="<%= @user.email %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">用户名:</label>
            <input type="text" id="valid_mobile" name="username" value="<%= @user.username %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">昵称:</label>
            <input type="text" id="valid_mobile" name="fake_name" value="<%= @user.fake_name %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">真实姓名:</label>
            <input type="text" id="valid_mobile" name="real_name" value="<%= @user.real_name %>" placeholder=''><br/>
          </div>
          <div class="field">
            <label for="mobile">签名:</label>
            <textarea name="personal_title" rows="8" value="" cols="80">
              <%= @user.personal_title %>
            </textarea>
            <br/>
          </div>

        </div>
      </div>
    <% end %>
    </div>
    <div class="actions">
      <button  type="button" class="ui black deny button">
        取消
      </button>
      <button id="saveUserInfoBtn" type="button" class="ui positive  button">
        保存
      </button>
    </div>

  </div>
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted icon header">
          <i class="progress icon"></i>
          <span id="loadMessage">正在保存更改......<span>
        </h2>
      </div>
    </div>
  </div>

</div>




<script type="text/javascript">
  $('.menu .item').tab();
  $('#editUserInfo').click(function(){
    $('#editUserModal').modal({
    closable  : true,
    onDeny    : function(){
      return true;
    },
    onApprove : function() {
      $('#editUserModal').dimmer("show");
      $('#userInfoForm').submit();
      return false;
    }
  }).modal('show');

  });


</script>
